<nav class="navbar navbar-expand-lg navbar-light">

    <div class="container">
        <a class="navbar-brand" routerLink="/home"><img src="assets/Miroir banner.png" alt="logo miroir" width="90"></a>

        <div>
            <button *ngIf='this.getIsLoged()==false' routerLink="/login" class="btn btn-danger navbar-btn mir-sesion">Iniciar sesión</button>
            <button *ngIf='this.getIsLoged()==true' (click)="cerrarSesion()" class="btn btn-danger navbar-btn mir-sesion">Cerrar sesión</button>
        </div>

        <div>
            <button *ngIf='!this.getIsLoged()' routerLink="/registrarse" class="btn btn-danger navbar-btn mir-perfil">Registro</button>

            <button *ngIf='this.getIsLoged()' (click)="clickPerfil()" routerLink="/perfil/cliente" class="btn btn-danger navbar-btn mir-perfil">Perfil</button>
        </div>

    </div>

</nav>
