<!--
<nav>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>
</nav>

<nav class="mir-background">
    <mat-toolbar class="mir-background">
        <a routerLink="/home"><img src="assets/Miroir banner.png" alt="Miroir" class="mir-logo"></a>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
</nav>

 <mat-toolbar color="primary">
    <mat-toolbar>
        <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
        <h1>SimpleCRM</h1>
        <span class="menu-spacer"></span>
        <div>
            <a *ngIf='this.getIsLoged()==false' mat-button [routerLink]="'/login'"> Iniciar Sesión </a>
            <a *ngIf='this.getIsLoged()==false' mat-button [routerLink]="'/registro'"> Registrarse </a>
            <a mat-button [routerLink]="'/planes'"> Planes </a>
            <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>

        </div>
    </mat-toolbar>

</mat-toolbar> -->



<!--  NAVBAR INICIAL DE PAULA Y SERGIO -->
<nav class="navbar navbar-expand-lg navbar-light">

    <div id="navbar">

    </div>

    <div class="container">
        <a class="navbar-brand" routerLink="/home"><img src="assets/Miroir banner.png" alt="logo miroir" width="90"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a *ngIf='this.getIsLoged()==false' class="nav-link" routerLink="/login">Iniciar sesión</a>
                    <a *ngIf='this.getIsLoged()==true' class="nav-link" routerLink="/home" (click)="cerrarSesion();">Cerrar sesión</a>
                </li>
            </ul>
        </div>
        <button *ngIf='this.getIsLoged()==false' routerLink="/registrarse" class="btn btn-danger navbar-btn">Registro</button>

        <button *ngIf='this.getIsLoged()==true && this.tipo=="cliente"' routerLink="/perfil/cliente" class="btn btn-danger navbar-btn">Perfil</button>
        <button *ngIf='this.getIsLoged()==true && this.tipo=="usuario"' routerLink="/perfil/usuario" class="btn btn-danger navbar-btn">Perfil</button>
        <button *ngIf='this.getIsLoged()==true && this.tipo=="admin"' routerLink="/perfil" class="btn btn-danger navbar-btn">Perfil</button>
    </div>

</nav>