.mir-recovery-button {
    display: inline;
    float: right;
}

.mir-recovery-box {
    max-width: 30em;
    margin: auto;
}

.mir-box-buttons {
    padding-top: 1em;
    ;
}

.mir-title {
    text-align: center;
}

.mir-block {
    display: block;
}