th {
    background-color: orange;
}
.nuevo-usu{
    margin-bottom: 5px;
}

.delete{
    color: orangered;
    cursor:pointer;
    margin-left: 10px;
}

.edit{
    color:green;
    cursor:pointer;
    margin-right: 10px;
}