<div class="fondo">
    <div class="caja">
        <h1>Información sobre el probador y su integración</h1>
        <div class="desplegable">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>¿Cómo funciona el probador?</h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        <h3>Qué es, para qué sirve, primeros pasos...</h3>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>El probador de Miroir es un servicio que puedes incorporar en tu tienda para ser usado por tus clientes. Cada uno de ellos podrá crear un avatar con sus medidas y ver cómo le quedarían tus prendas para escoger la talla adecuada a la hora
                    de comprar.
                </p>
            </mat-expansion-panel>
        </div>
        <div class="desplegable">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>¿Cómo usan el probador los usuarios?</h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        <h3>Cómo se registran para usar su avatar en tu tienda</h3>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                    Cuando tus clientes entren en tu tienda online verán la opción de usar el probador virtual con un avatar predeterminado. Si quieren crear su propio avatar y cambiar sus medidas, se les dará la opción de ir a nuestra página web y con el mismo correo que
                    usa para entrar en tu tienda online, registrarse y cambiar sus medidas. Por tanto, cuando los usuarios de tu tienda estén registrados también en Miroir, el avatar que verán en el probador será el suyo propio.
                </p>

            </mat-expansion-panel>
        </div>
        <div class="desplegable">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>¿Cómo integro el probador en mi página?</h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        <h3>Cómo hacer que se vea el probador en tu página</h3>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Una vez suscrito a alguno de nuestros planes podrás subir la ropa de tu tienda desde la sección "prendas", las cuales podrán visualizar tus clientes cuando entren en ella. Para el uso del probador, cada cliente tendrá su propia clave,
                    la cual usará para hacer la petición del probador a la api de Miroir.</p>
            </mat-expansion-panel>
        </div>
    </div>
</div>
