<div class="row animate__animated animate__fadeIn animate__faster mir-ancho">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1> Gestión de la clave </h1>

                <div>
                    <div class="mir-centrar">
                        <button mat-raised-button class="mir-button mir-recovery-button" color="primary" (click)="obtenerClave()">Ver clave</button>

                        <button mat-raised-button class="mir-button mir-recovery-button" color="accent" (click)="cambiarClave()">Obtener nueva clave</button>
                    </div>
                    <hr>

                    <div class="mir-centrar">
                        <mat-form-field appearance="outline" class="mir-block">
                            <mat-label>Clave Actual</mat-label>
                            <input type="password" #claveInput disabled matInput [type]="hide ? 'password' : 'text'" value='{{clave}}'>
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>

                        </mat-form-field>
                        <button mat-raised-button class="mir-button mir-copiar-button" (click)="copiarClave()"> Copiar clave </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
