<p>prenda works!</p>
<article class="mir-prenda-box">

    <h1 class="mir-title"> Crea tu prenda </h1>
    <form class="mir-prenda-form" [formGroup]="formPrenda" (ngSubmit)="enviar();">

        <h4>Rellene la información para crear la prenda</h4>


        <!--INPUT: PRENDA -->

        <input (change)="cambioArchivo($event)" type="file" id="archivo" formControlName="archivo">


        <!-- identificador-->

        <mat-form-field class="example-full-width">
            <mat-label>Identificador de la prenda</mat-label>
            <input matInput placeholder="Identificador de la prenda" type="text" formControlName="identificador">

            <!-- ERRORES -->
            <mat-error *ngIf="formPrenda.get('identificador').hasError('required');">
                El identificador es <strong>necesario</strong>
            </mat-error>

        </mat-form-field>



        <!-- NOMBRE DE LA PRENDA-->

        <mat-form-field class="example-full-width">
            <mat-label>Nombre de la prenda</mat-label>
            <input matInput placeholder="Nombre de la prenda" type="text" formControlName="nombre">

            <!-- ERRORES -->
            <mat-error *ngIf="formPrenda.get('nombre').hasError('required');">
                El nombre es <strong>necesario</strong>
            </mat-error>

        </mat-form-field>


        <!-- DESCRIPCION DE LA PRENDA-->

        <mat-form-field class="example-full-width">
            <mat-label>Descripción de la prenda</mat-label>
            <textarea matInput placeholder="Camisa, Camiseta ..." formControlName="descripcion"></textarea>

            <!-- ERRORES -->
            <mat-error *ngIf="formPrenda.get('descripcion').hasError('required');">
                La descripción es <strong>necesaria</strong>
            </mat-error>

        </mat-form-field>

        <!-- SELECCIONAR LA TALLA -->

        <mat-form-field appearance="fill">
            <mat-label>Seleccione la talla</mat-label>
            <mat-select formControlName="talla" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>




        <button mat-raised-button color="accent" type="submit">Crear Prenda</button>



    </form>

</article>
