<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/2.jpg" alt="Second slide">
    </mdb-carousel-item>
</mdb-carousel>

<div class="flex-container">
    <h2 id="flex-h2">Descubre Miroir</h2>
    <div class="stage">
        <div class="box bounce-7"><img src="assets/sombrerito.png" alt="sombrero que salta" width="110"></div>
    </div>
</div>

<p id="descubre">Miroir es un servicio de probador virtual para tiendas de ropa online. Los usuarios podrán probarse ropa online sin necesidad de ir a las tiendas, de una forma más cómoda, higiénica y segura. En estos momentos, las medidas de seguridad por la reciente
    crisis del coronavirus son cada vez más estrictas, y Miroir soluciona todos los problemas de las tiendas con plataformas online que se hayan visto obligados a cerrar sus probadores en las tiendas físicas. Además, nuestro servicio de probador online
    aumentará la seguridad de un usuario al comprar una talla de ropa, disminuyendo así las devoluciones y los gastos de envío en pedidos de compra/devolución.</p>

<h2>Únete a nosotros</h2>
<div id="tarjetas">

    <div class="card">
        <img class="card-img-top" src="assets/card1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Plan plata</h3>
            <p class="card-text">El plan perfecto para tiendas pequeñas, con entre 0 y 300 prendas de ropa.</p>
            <a href="/planes" class="btn btn-primary">Saber más</a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="assets/card2.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Plan oro</h3>
            <p class="card-text">Orientado a tiendas medianas, con entre 300 y 600 prendas de ropa.</p>
            <a href="/planes" class="btn btn-primary">Saber más</a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="assets/card3.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Plan diamante</h3>
            <p class="card-text">Para tiendas grandes, con más de 600 prendas de ropa.</p>
            <a href="/planes" class="btn btn-primary">Saber más</a>
        </div>
    </div>


</div>


<div id="estatico"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1" d="M0,64L120,58.7C240,53,480,43,720,58.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
  </svg>
    <div>





        <router-outlet></router-outlet>