<div class="mir-botones-textura">
    <h2> Probador virtual</h2>
    <div class="mir-botones-grid">
        <button (click)="crearTicket('22222222')">Camiseta</button>
        <button (click)="crearTicket('33333333')">Tirantes</button>
        <button (click)="crearTicket('11111111')">Pantalón</button>
        <button (click)="cambiarTextura(1)">Algodón</button>
        <button (click)="cambiarTextura(3)">Vaquero</button>
        <button (click)="cambiarTextura(2)">Cuadros</button>
    </div>

    <button id="baja" (click)="recargar()">Recargar</button>

</div>

<canvas #sceneCanvas id="probador" width="650" height="650">


</canvas>
