<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- incorporar src   "ejemplo.js" -->
    <script src="  "></script>
    <title>Generador de datos</title>
</head>

<body>
    <p id="nuevo" style="display: block; padding: .3em .6em; background: blueviolet; color: antiquewhite; cursor: pointer;" onclick="genRandoms();">START</p>

    <p id="resultado">.</p>
</body>

</html>