<div class="row">
    <div class="mr-2" *ngIf="texto">
        <div role="status" aria-live="polite" *ngIf="totalRegistros > 0 ">
            Mostrando {{registroActual}} - {{registroHasta}} de {{totalRegistros}}
        </div>
        <div role="status" aria-live="polite" *ngIf="totalRegistros <= 0">
            No hay registros
        </div>
    </div>
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-end">
            <li class="page-item" [ngClass]="{'disabled' : paginaActual<=1}" (click)="cambiaPagina(1)">
                <span class="page-link"><span class="material-icons">first_page</span></span>
            </li>
            <li class="page-item" [ngClass]="{'disabled' : paginaActual<=1}" (click)="cambiaPagina(paginaActual - 1)">
                <span class="page-link"><span class="material-icons">keyboard_arrow_left</span></span>
            </li>
            <!-- 3 4 5 6 7 -->
            <li class="page-item" [ngClass]="{'active': numeropagina===paginaActual}" *ngFor="let numeropagina of listaPaginas">
                <span class="page-link" (click)="cambiaPagina(numeropagina)">
                        {{numeropagina}}
                    </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled' : paginaActual>=ultimaPagina}" (click)="cambiaPagina(paginaActual + 1)">
                <span class="page-link"><span class="material-icons">keyboard_arrow_right</span></span>
            </li>
            <li class="page-item" [ngClass]="{'disabled' : paginaActual>=ultimaPagina}" (click)="cambiaPagina(ultimaPagina)">
                <span class="page-link"><span class="material-icons">last_page</span></span>
            </li>
        </ul>
    </nav>
</div>