<footer>

    <div class="mir-elemento">

        <a routerLink="/home"><img src="assets/Miroir M.png" alt="M de Miroir" height="80"></a>

    </div>

    <div class="mir-elemento">

        <ul>
            <li>
                <a href="https://miroir.ovh/insight/blog/" target="_blank">Blog</a>
            </li>
            <li>
                <a href="https://miroir.ovh/insight/politica-de-privacidad/" target="_blank">Política de privacidad</a>
            </li>
            <li>
                <a href="https://miroir.ovh/insight/contacto/" target="_blank">Contacto</a>
            </li>
        </ul>

    </div>

    <div class="mir-elemento">
        <a class="mir-icono" href="https://www.twitter.com/miroir_insight" target="_blank"><img src="assets/logo-twitter.png" alt="Twitter" width="20"></a>
        <a class="mir-icono" href="https://www.instagram.com/miroir_insight" target="_blank"><img src="assets/logo-insta.png" alt="Instagram" width="20"></a>
    </div>

    <div class="footer-copyright">© 2020 Copyright:
        <a routerLink="/home"> miroir.ovh</a>
    </div>

</footer>
