<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" id="col1">
  
          <!-- Content -->
          <a href="https://www.miroir.ovh"><img src="assets/Miroir M.png" alt="M de Miroir" height="80"></a>
         
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
  
          <ul class="list-unstyled">
            <li>
                <a href="https://miroir.ovh/insight/blog/">Blog</a>
            </li>
            <li>
                <a href="https://miroir.ovh/insight/politica-de-privacidad/">Política de privacidad</a>
            </li>
            <li>
              <a href="#!">Contacto</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
  
          <a id="separa" href="https://www.twitter.com/miroir_insight"><img src="assets/logo-twitter.png" alt="" width="20"></a>
          <a href="https://www.instagram.com/miroir_insight"><img src="assets/logo-insta.png" alt="" width="20"></a>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://miroir.ovh/"> miroir.ovh</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
