<div class="flex-container">
    <h2 id="flex-h2">Planes de suscripción</h2>
    <div class="stage">
      <div class="box bounce-7"><img src="../../../assets/cerdito.png" alt="sombrero que salta" width="110"></div>
    </div>
  </div>
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title">Plata</h3>
                    <div class="price-value">10€
                        <span class="month">/mes</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Hasta 300 prendas</li>
                        <li>Hola</li>
                        <li>Hola</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">Suscribirse</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable blue">
                    <h3 class="title">Oro</h3>
                    <div class="price-value">20€
                        <span class="month">/mes</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Hasta 600 prendas</li>
                        <li>Hola</li>
                        <li>Hola</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">Suscribirse</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable diamond">
                    <h3 class="title">Diamante</h3>
                    <div class="price-value">30€
                        <span class="month">/mes</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Prendas ilimitadas</li>
                        <li>Hola</li>
                        <li>Hola</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">Suscribirse</a>
                </div>
            </div>


        </div>
    </div>
</div>
