<div class="row animate__animated animate__fadeIn animate__faster mir-ancho">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1>Generación de datos</h1>
                <div class="container">

                    <div class="crear">

                        <form [formGroup]="formCrearUsuarios" (ngSubmit)="enviarUsuarios();">
                            <h2>Usuarios</h2>

                            <!-- INPUT: CANTIDAD -->
                            <mat-form-field appearance="outline" class="mir-block">
                                <mat-label>Cantidad: </mat-label>
                                <input type="number" matInput formControlName="cantidad" min="0" class="form-input" placeholder="123">
                                <mat-hint>Introduzca la cantidad deseada</mat-hint>

                                <!-- ERRORES -->
                                <mat-error *ngIf="!formCrearUsuarios.get('cantidad').valid">
                                    Por favor, introduce un número <strong>válido</strong>
                                </mat-error>


                            </mat-form-field>
                            <!-- ---------------- -->


                            <!-- SUBMIT: BOTON ENVIAR -->
                            <div class="mir-box-buttons">
                                <button type="submit" mat-raised-button color="accent" type="submit">Crear Usuarios</button>
                            </div>
                            <!-- -------------------- -->

                        </form>

                    </div>
                    <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
                    <div class="crear">

                        <form [formGroup]="formCrearClientes" (ngSubmit)="enviarClientes();">
                            <h2>Clientes</h2>

                            <!-- INPUT: CANTIDAD -->
                            <mat-form-field appearance="outline" class="mir-block">
                                <mat-label>Cantidad: </mat-label>
                                <input type="number" matInput formControlName="cantidad" min="0" class="form-input" placeholder="123">
                                <mat-hint>Introduzca la cantidad deseada</mat-hint>

                                <!-- ERRORES -->
                                <mat-error *ngIf="!formCrearClientes.get('cantidad').valid">
                                    Por favor, introduce un número <strong>válido</strong>
                                </mat-error>


                            </mat-form-field>
                            <!-- ---------------- -->


                            <!-- SUBMIT: BOTON ENVIAR -->
                            <div class="mir-box-buttons">
                                <button type="submit" mat-raised-button color="accent" type="submit">Crear Clientes</button>
                            </div>
                            <!-- -------------------- -->

                        </form>

                    </div>
                    <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
                    <div class="crear">

                        <form class="mir-login-form" [formGroup]="formCrearPrendas" (ngSubmit)="enviarPrendas();">
                            <h2>Prendas</h2>

                            <!-- INPUT: CANTIDAD -->
                            <mat-form-field appearance="outline" class="mir-block">
                                <mat-label>Cantidad: </mat-label>
                                <input type="number" matInput formControlName="cantidad" min="0" class="form-input" placeholder="123">
                                <mat-hint>Introduzca la cantidad deseada</mat-hint>

                                <!-- ERRORES -->
                                <mat-error *ngIf="!formCrearPrendas.get('cantidad').valid">
                                    Por favor, introduce un número <strong>válido</strong>
                                </mat-error>


                            </mat-form-field>
                            <!-- ---------------- -->


                            <!-- SUBMIT: BOTON ENVIAR -->
                            <div class="mir-box-buttons">
                                <button type="submit" mat-raised-button color="accent" type="submit">Crear Prendas</button>
                            </div>
                            <!-- -------------------- -->

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
