<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">
                    <h2 class="form-title">Crear cuenta</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="name" id="name" placeholder="Nombre"/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="password" id="password" placeholder="Contraseña"/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repetir contraseña"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="empresa" id="empresa" placeholder="Nombre de empresa"/>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-input" name="cod-empresa" id="cod-empresa" placeholder="Código de empresa"/>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-input" name="tlf" id="tlf" placeholder="Teléfono de contacto"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>Acepto los <a href="#" class="term-service">Términos de uso</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Registrarse"/>
                    </div>
                </form>
                <p class="loginhere">
                    ¿Ya tienes cuenta? <a href="/login" class="loginhere-link">Iniciar sesión</a>
                </p>
            </div>
        </div>
    </section>

</div>
