<section class="sectionn">
    <section *ngIf="noAdmin">
        <h2> Probador virtual</h2>
        <article>
            <header>
                <p>probador virtual con el avatar del usuario</p>
            </header>
            <p> aqui se visualizará el probador con el avatar para dar a los usuarios una vista previa del avatar con sus medidas.</p>
        </article>

        <!-- componente probador -->
        <app-probador01></app-probador01>

    </section>

    <section class="mir-seccion">
        <div class="centro">
            <h2> Datos del usuario </h2>
            <article>
                <div>

                    <form [formGroup]="formMedidas" (ngSubmit)="actualizarUsuario();">

                        <div class="mir-bloque">

                            <div>
                                <mat-form-field appearance="fill" class="mir-block">
                                    <input type="email" matInput formControlName="email" placeholder="ejemplo@email.com">
                                    <mat-hint>Introduzca el email</mat-hint>
                                </mat-form-field>
                            </div>

                            <div *ngIf="this.isNew">
                                <mat-form-field appearance="fill" class="mir-block">
                                    <mat-label>Contraseña</mat-label>
                                    <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Contraseña">
                                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                                    <mat-hint>Introduzca la contraseña</mat-hint>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione el rol</mat-label>
                                    <mat-select formControlName="rol">
                                        <mat-option *ngFor="let objeto of lista" [value]="objeto"> {{objeto}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Activo</mat-label>
                                    <mat-select formControlName="activo">
                                        <mat-option [value]="true"> SI </mat-option>
                                        <mat-option [value]="false"> NO </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Validado</mat-label>
                                    <mat-select formControlName="validado">
                                        <mat-option [value]="true"> SI </mat-option>
                                        <mat-option [value]="false"> NO </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mir-bloque">
                            <div class="mir-espacio"></div>

                            <div>
                                <mat-label>Peso: {{this.peso}} kg</mat-label>
                                <mat-slider thumbLabel formControlName="peso" min="10" max="200" step="1" [(ngModel)]=this.peso></mat-slider>
                            </div>

                            <div>
                                <mat-label>Altura: {{this.altura}} cm</mat-label>
                                <mat-slider thumbLabel formControlName="altura" min="100" max="200" step="1" [(ngModel)]=this.altura></mat-slider>
                            </div>

                            <div>
                                <mat-label>Pecho: {{this.pecho}} cm</mat-label>
                                <mat-slider thumbLabel formControlName="pecho" min="10" max="200" step="1" [(ngModel)]=this.pecho></mat-slider>
                            </div>

                            <div>
                                <mat-label>Cintura: {{this.cintura}} cm</mat-label>
                                <mat-slider thumbLabel formControlName="cintura" min="10" max="200" step="1" [(ngModel)]=this.cintura></mat-slider>
                            </div>

                            <div>
                                <mat-label>Cadera: {{this.cadera}} cm</mat-label>
                                <mat-slider thumbLabel formControlName="cadera" min="10" max="200" step="1" [(ngModel)]=this.cadera></mat-slider>
                            </div>
                        </div>

                        <div *ngIf="this.isNew; else noNew">
                            <button type="submit" mat-raised-button color="accent" class="boton">Crear</button>
                        </div>
                        <ng-template #noNew>
                            <button type="submit" mat-raised-button color="accent" class="boton">Actualizar</button>
                        </ng-template>
                    </form>

                </div>

            </article>
        </div>
    </section>
</section>