
<section>
    <h2> Información del cliente </h2>
    <article>
        <header>
            <p> Modifica tus datos: </p>
        </header>

        <form [formGroup]="formCliente" (ngSubmit)="actualizarCliente();">
            <div>
                <mat-form-field appearance="outline" class="mir-block">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder=this.email>
                    <button mat-icon-button matSuffix type="button" disabled>
                        <mat-icon>alternate_email</mat-icon>
                    </button>
        
                </mat-form-field>
            </div>

            <div *ngIf="this.isNew">
                <mat-form-field appearance="outline" class="mir-block">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Contraseña">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Introduzca su contraseña</mat-hint>
                </mat-form-field>
            </div>

            

            <div>
                <mat-label>Activo: </mat-label>
                <select formControlName="activo">
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>    
                </select>
            </div>

            <div>
                <mat-label>Validado: </mat-label>
                <select formControlName="validado">
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>    
                </select>
            </div>
            
            <div>
                <mat-form-field appearance="outline" class="mir-block">
                    <mat-label>Empresa</mat-label>
                    <input matInput formControlName="nombreEmpresa" placeholder=this.empresa>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="mir-block">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" placeholder=this.nombre>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="mir-block">
                    <mat-label>NIF</mat-label>
                    <input matInput formControlName="nif" placeholder=this.NIF>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="mir-block">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono" placeholder=this.telefono>
                </mat-form-field>
            </div>

            <div *ngIf="this.isNew; else noNew">
                <button type="submit" mat-raised-button color="accent">Crear</button>
            </div>
            <ng-template #noNew>
                <button type="submit" mat-raised-button color="accent">Actualizar</button>
            </ng-template>
        </form>
        
    </article>
</section>

