<section class="section">
    <div class="centro">
        <h2> Datos del cliente</h2>
        <article class="mir-bloque">


            <form [formGroup]="formCliente" (ngSubmit)="actualizarCliente();">
                <div>
                    <mat-form-field appearance="outline" class="mir-block">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="ejemplo@email.com">
                        <button mat-icon-button matSuffix type="button" disabled> <mat-icon>alternate_email</mat-icon> </button>
                        <mat-hint>Introduzca el email</mat-hint>
                        <!-- ERRORES -->
                        <mat-error *ngIf="formCliente.get('email').hasError('email');">
                            Por favor, introduce un email <strong>válido</strong>
                        </mat-error>
                        <mat-error *ngIf="formCliente.get('email').hasError('required');">
                            Email <strong>necesario</strong>
                        </mat-error>

                    </mat-form-field>
                </div>

                <div *ngIf="this.isNew">
                    <mat-form-field appearance="outline" class="mir-block">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput formControlName="password" [type]="!hide ? 'password' : 'text'" placeholder="Contraseña">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                        <mat-hint>Introduzca su contraseña</mat-hint>
                        <!-- ERRORES -->
                        <mat-error *ngIf="formCliente.get('password').hasError('required');">
                            Contraseña <strong>necesaria</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="mir-block">
                        <mat-label>Empresa</mat-label>
                        <input matInput formControlName="nombreEmpresa" placeholder="Nombre de la empresa">
                        <button mat-icon-button matSuffix type="button" disabled> <mat-icon>view_headline</mat-icon> </button>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="mir-block">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" placeholder="Su nombre">
                        <button mat-icon-button matSuffix type="button" disabled> <mat-icon>view_headline</mat-icon> </button>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="mir-block">
                        <mat-label>NIF</mat-label>
                        <input matInput formControlName="nif" placeholder="NIF de la empresa">
                        <button mat-icon-button matSuffix type="button" disabled> <mat-icon>view_headline</mat-icon> </button>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="mir-block">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono" placeholder="Teléfono de contacto">
                        <button mat-icon-button matSuffix type="button" disabled> <mat-icon>view_headline</mat-icon> </button>

                    </mat-form-field>
                </div>

                <!-- SELECCIONAR ACTIVO -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Activo</mat-label>
                        <mat-select formControlName="activo">
                            <mat-option [value]="true"> SI </mat-option>
                            <mat-option [value]="false"> NO </mat-option>
                        </mat-select>
                        <!-- ERRORES -->
                        <mat-error *ngIf="formCliente.get('activo').hasError('required');">
                            Valor <strong>necesario</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- SELECCIONAR VALIDADO -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Validado</mat-label>
                        <mat-select formControlName="validado">
                            <mat-option [value]="true"> SI </mat-option>
                            <mat-option [value]="false"> NO </mat-option>
                        </mat-select>
                        <!-- ERRORES -->
                        <mat-error *ngIf="formCliente.get('validado').hasError('required');">
                            Valor <strong>necesario</strong>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div *ngIf="this.isNew; else noNew">
                    <button type="submit" mat-raised-button color="accent" class="boton">Crear</button>
                </div>
                <ng-template #noNew>
                    <button type="submit" mat-raised-button color="accent" class="boton">Actualizar</button>
                </ng-template>
            </form>

        </article>
    </div>
</section>
