
<section>
    <h2> Información del cliente </h2>
    <article>
        <header>
            <p> Modifica tus datos: </p>
        </header>

        <form [formGroup]="formCliente">
            <mat-form-field appearance="outline" class="mir-block">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="ejemplo@email.com">
                <button mat-icon-button matSuffix type="button" disabled>
                    <mat-icon>alternate_email</mat-icon>
                  </button>
                <mat-hint>Introduzca su email</mat-hint>
    
            </mat-form-field>
        </form>
        
    </article>
</section>

