<article class="mir-register-box">
    <h1 class="mir-title"> Crea tu cuenta </h1>
    <form class="mir-register-form" [formGroup]="formRegister" (ngSubmit)="registrarse();">

        <!-- INPUT: EMAIL -->
        <mat-form-field appearance="outline" class="mir-block">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="ejemplo@email.com">
            <button mat-icon-button matSuffix type="button" disabled> <mat-icon>alternate_email</mat-icon> </button>
            <mat-hint>Introduzca su email</mat-hint>

            <!-- ERRORES -->
            <mat-error *ngIf="formRegister.get('email').hasError('email');">
                Por favor, introduce un email <strong>válido</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('email').hasError('required');">
                Email es <strong>necesario</strong>
            </mat-error>

        </mat-form-field>
        <!-- ------------ -->
        <!-- INPUT: PASSWORD -->
        <mat-form-field appearance="outline" class="mir-block">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Contraseña">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
            <mat-hint>Introduzca su contraseña</mat-hint>

            <!-- ERRORES -->
            <mat-error *ngIf="formRegister.get('password').hasError('required');">
                Contraseña <strong>necesaria</strong>
            </mat-error>

        </mat-form-field>
        <!-- ------------ -->
        <!-- INPUT: PASSWORD REPETIR -->
        <mat-form-field appearance="outline" class="mir-block">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="passwordRepeat" [type]="hideR ? 'password' : 'text'" placeholder="Repetir Contraseña">
            <button mat-icon-button matSuffix type="button" (click)="hideR = !hideR" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hideR ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
            <mat-hint>Repita su contraseña</mat-hint>

            <!-- ERRORES -->
            <mat-error *ngIf="formRegister.get('passwordRepeat').hasError('required');">
                Contraseña <strong>necesaria</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('passwordRepeat').hasError('notEquals')">
                La contraseña <strong>no coincide</strong>
            </mat-error>

        </mat-form-field>
        <!-- ------------ -->


        <mat-checkbox class="example-margin mir-box-link" formControlName="terminos" [(ngModel)]="terminos">
            Acepte nuestros
            <a routerLink="#" class="loginhere-link">Términos y condiciones</a> para poder continuar
        </mat-checkbox>

        <div class="mir-box-buttons">

            <button class="mir-register-button" mat-raised-button color="accent" [disabled]="!terminos" type="submit">Registrarse</button>
            <app-button-back></app-button-back>
        </div>
        <div class="mir-box-link"> ¿Ya tienes cuenta?
            <a routerLink="/login" class="loginhere-link">Inicia sesión</a>
        </div>
    </form>


</article>
