.mir-register-button {
    display: inline;
    float: right;
}

.mir-register-box {
    max-width: 30em;
    margin: auto;
}

.mir-box-buttons {
    padding-top: 1em;
}

.mir-box-link {
    text-align: right;
}

.mir-title {
    text-align: center;
}

.mir-block {
    display: block;
}
