<div class="mir-caja_toggle">
    <mat-button-toggle-group class="mir-toggle" #group="matButtonToggleGroup" [(ngModel)]='formulario' onChange="cambiar" aria-label="Formulario de usuario o cliente">

        <mat-button-toggle class="mir-button_toggle" value="0" aria-label="Formulario Usuario">
            <mat-label>Usuario</mat-label>
        </mat-button-toggle>

        <mat-button-toggle class="mir-button_toggle" value="1" aria-label="Formulario Cliente">
            <span>Cliente</span>
        </mat-button-toggle>

    </mat-button-toggle-group>
</div>
<div *ngIf='formulario == 0' class="mir-caja_formulario">
    <div class="mir-caja_explicacion_usuario">
        <h1>Registrarse como Usuario</h1>
        <p> La cuenta de usuario permite crear un avatar personalizado con tus medidas. </p>
    </div>

    <app-register-usuario></app-register-usuario>

</div>

<div *ngIf='formulario == 1' class="mir-caja_formulario">
    <div class="mir-caja_explicacion_usuario">
        <h1>Registrarse como Cliente</h1>
        <p> La cuenta de cliente te permitirá incluir el probador virtual en tu tienda. </p>
    </div>
    <app-register-cliente></app-register-cliente>

</div>
