<article class="mir-register-box">
    <h1 class="mir-title"> Crea tu cuenta </h1>
    <form class="mir-register-form" [formGroup]="formRegister" (ngSubmit)="registrarse();">

        <!-- INPUT: EMAIL -->
        <mat-form-field appearance="outline" class="mir-block">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="ejemplo@email.com">
            <button mat-icon-button matSuffix type="button">
                  <mat-icon>alternate_email</mat-icon>
                </button>
            <mat-hint>Introduzca su email</mat-hint>

            <!-- ERRORES -->
            <mat-error *ngIf="formRegister.get('email').hasError('email');">
                Por favor, introduce un email <strong>válido</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('email').hasError('required');">
                Email es <strong>necesario</strong>
            </mat-error>

        </mat-form-field>
        <!-- ------------ -->
        <!-- INPUT: PASSWORD -->
        <mat-form-field appearance="outline" class="mir-block">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Contraseña">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Introduzca su contraseña</mat-hint>

            <!-- ERRORES -->
            <mat-error *ngIf="formRegister.get('password').hasError('required');">
                Contraseña <strong>necesaria</strong>
            </mat-error>

        </mat-form-field>
        <!-- ------------ -->
        <!-- INPUT: PASSWORD REPETIR -->
        <mat-form-field appearance="outline" class="mir-block">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="passwordRepeat" [type]="hideR ? 'password' : 'text'" placeholder="Repetir Contraseña">
            <button mat-icon-button matSuffix type="button" (click)="hideR = !hideR" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hideR ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-hint>Repita su contraseña</mat-hint>

            <!-- ERRORES -->
            <mat-error *ngIf="formRegister.get('passwordRepeat').hasError('required');">
                Contraseña <strong>necesaria</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('passwordRepeat').hasError('notEquals')">
                La contraseña <strong>no coincide</strong>
            </mat-error>

        </mat-form-field>
        <!-- ------------ -->



        <div class="mir-box-link">
            <a routerLink="/login">¿Ya tienes cuenta?</a>
        </div>
        <div class="mir-box-buttons">
            <app-button-back></app-button-back>
            <button class="mir-register-button" mat-raised-button color="accent" type="submit">Registrarse</button>
        </div>
    </form>


</article>





<!--
<article>
    <form novalidate [formGroup]="user">
        <label>
      <span>Full name</span>
      <input
        type="text"
        placeholder="Your full name"
        formControlName="name">
    </label>
        <label>
        <span>Email address</span>
        <input
          type="password"
          placeholder="Your passwornd"
          formControlName="password">
      </label>
        <label>
        <span>Confirm address</span>
        <input
          type="password"
          placeholder="Confirm your password"
          formControlName="passwordRepeat">
      </label>
        <button type="submit">Sign up</button>
    </form>
</article> -->
