.mir-caja_formulario {
    margin: auto;

    height: 100vh;
    width: 100%;
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-image: url("../../../assets/fondo-registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    padding: 115px 0; 
}

.mir-caja_formulario{
    padding: 25px;
}


.mir-caja_explicacion_usuario > p{
    text-align: center;
}

h1 {
    line-height: 1.66;
    padding-top: 30px;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; 
}

.mir-caja_explicacion_usuario {
    margin: auto;
    margin-bottom: 30px;

    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; 
    width: 50vh;
}

.mir-caja_explicacion_usuario {
    padding: 0 0 5vh 0;
}

.mir-caja_toggle {
    width: 100%;
    background-color: rgb(43, 43, 43);
    text-align: center;
}

.mir-toggle {
    width: 50%;
}

.mir-button_toggle {
    min-width: 50%;
    background-color: #b388ff;
    border-color: #b388ff;
    color: whitesmoke;
}

.mir-button_toggle:hover {
    background-color: #fb9b02;
    border-color: #fb9b02;
}
